@charset "utf-8";
html {
	height:100%;
}

body {
	width:100%;
	height:100%;
	margin:auto;
	position:fixed;
}

canvas#canvas_main {
	width:100%;	
	height:100%;
}

@media screen and (min-width: 560px) {

html {
	height:60%;
}

body {
	width:60%;
	height:60%;
}

canvas#canvas_main {
	width:100%;
	height:100%;
}
